.red {
  background-color: #ee565d;
}
.oren {
  background-color: #ff886b;
}
.yel {
  background-color: #ffc30f;
}
.gren {
  background-color: #02aab0;
}
.blue {
  background-color: #16aaff;
}
.nam {
  background-color: #6086ff;
}
